//CSS Reset
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

//variables
$main-background: linear-gradient(to bottom right,#A795CD, #A0D0D8);
$primary-font-color: #DFDFDF;
$primary-font-family: 'Rowdies';


//style
* {
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    background-image: $main-background;
    min-height: 100%;

    h1 {
        text-align: center;
        font-size: 3rem;
        color: $primary-font-color;
        font-family: $primary-font-family;
        font-weight: 700;
        text-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.25);
        padding-top: 70px;
    }

    .selection {
        margin-top: 120px;
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 6rem;

        .selection-btn {
            border: 0;
            height: 200px;
            width: 224px;
            border-radius: 20px;
            background-color: rgba($color: #000000, $alpha: 0.06);
            // b : blur(4px);
        }
    }

    .display-selection {
        margin-top: 65px;
        display: flex;
        justify-content: center;
        gap: 48px;

        .selected {
            width: 224px;
            height: 200px;
            background-color: rgba($color: #000000, $alpha: .45);
            border-radius: 20px;
        }
    }
}